extends layout/template

block vars
	- var pageTemplate = "index"; // page-specific var

block head
	//script(src='https://d3js.org/d3.v4.min.js')
	//script(src='https://d3js.org/d3-selection.v1.js')

block content
	#content

